<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>

    <div class="container txhistory post-index">
        <% include ./partials/header ﻿%>

        <div class="buttons">
            <% if(isAuthenticated){ %>
            <a class="btn btn-default" href="/wallet/<%= hashes.sendername %>/sendTx">Send new Tx</a>
            <% } %>
        </div>

        <table class="table table-striped posts">
            <thead>
                <tr>
                    <th class="number">#</th>
                    <th class="txhash">트랜잭션 해쉬 값</th>
                    <th class="date">Date</th>
                </tr>
            </thead>
            <tbody>
                <% if(hashes == null || hashes.length == 0){ %>
                <tr>
                    <td class="noData" colspan=100> There is no data to show  </td>
                </tr>
                <% } %>


                <% hashes.forEach(function(element, index, Hash) { %>
                <tr>
                    <td class="number">
                        <div class="ellipsis">
                                <%= hashes.length - index %>
                        </div>
                    </td>

                    <td class="txhash">
                        <a href="https://ropsten.etherscan.io/tx/<%= element.hashes %>">
                            <div class="ellipsis"><%= element.hashes %></div>
                        </a>
                    </td>

                    <td class="date">
                        <%= element.createdDate %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="buttons col-sm-12">
                <a class="btn btn-primary" data-clipboard-target="#account">주소 복사</a>
                <a class="btn btn-primary" href="https://faucet.ropsten.be">포싯 얻기</a>
                <a class="btn btn-primary" href="/wallet/<%= hashes.sendername %>/sendTx">Tx 전송</a>
            </div> <!-- container end -->
    
    </div> <!-- container end -->

</body>

</html>