<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <div class="container user user-show">
    <form class="user-form form-horizontal" action="/wallet/" method="post">
      <div class="contentBox2">
        <h3 class="contentBoxTop"> account</h3>
        <fieldset>
          <div class="form-group-wallet <%= (errors.address)?'has-error':'' %>">
            <label for="address" class="col-sm-6">New address</label>
            <div class="col-sm-9">
              <input class="form-control-wallet" type="text" id="address" name="address" value="<%= address %>"
                value="<%= wallet.address %>" readonly>
              <% if(errors.address){ %>
              <span class="help-block"><%= errors.address.message %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group-wallet <%= (errors.privateKey)?'has-error':'' %>">
            <label for="privateKey" class="col-sm-6">New privateKey</label>
            <div class="col-sm-9">
              <input class="form-control-wallet" type="text" id="privateKey" name="privateKey" value="<%= privateKey %>"
                value="<%= wallet.privateKey %>" readonly>
              <% if(errors.privateKey){ %>
              <span class="help-block"><%= errors.privateKey.message %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group-wallet <%= (errors.privateKey)?'has-error':'' %>">
            <label for="privateKey" class="col-sm-6">Password for PrivateKey</label>
            <div class="col-sm-9">
              <input class="form-control-wallet" type="text" id="passForKey" name="passForKey" placeholder="Please enter password">
              <span class="help-block"></span>
              </div>
          </div>
        </fieldset>
        <br>
        New address is created on blockchain server side. Please save your address and key to click button down below. </br>
        And go to check it at your wallet page.
      </div>
      <div class="buttons submit-container">
        <button type="submit" formmethod="POST" class="btn btn-default">Save and export PrivateKey</button>
      </div>
      <% if(errors.unhandled){ %>
      <div class="alert alert-danger">
        <%= errors.unhandled %>
      </div>
      <% } %>
    </form>
    </br>
  </div> <!-- container end -->
</body>

</html>