<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <div class="container user user-show">

    <div class="buttons">
      <a class="btn btn-default" href="/wallet">Back</a>
      <% if(isAuthenticated && wallet.owner && currentUser.id == wallet.owner.id){ %>
      <!-- 1 -->
      <a class="btn btn-default" href="/<%= wallet.owner %>/edit">go my wallet</a>
      <% } %>
      <!-- 1 -->
    </div>

    <form class="user-form form-horizontal" action="/wallet/<%= wallet.owner %>/sendTx" method="post">
      <div class="contentBox">
        <h3 class="contentBoxTop"><%= user.username %> account</h3>
        <fieldset>
          <div class="form-group">
            <label for="account" class="col-sm-3">Account</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="account" name="account" value="<%= wallet.address %>"
                readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="privateKey" class="col-sm-3">privateKey</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="privateKey" name="privateKey" value="<%= wallet.privateKey %>"
                readonly>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label for="account" class="col-sm-3">Account from</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="fromAcc" name="fromAcc" value="<%= wallet.address %>">
              <p>default value is your primary account</p>
            </div>
          </div>
          <div class="form-group">
            <label for="privateKey" class="col-sm-3">Account to</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="toAcc" name="toAcc" value="<%= myAccount %>">
              <p>default value is administrator's</p>
            </div>
          </div>
          <div class="form-group">
            <label for="privateKey" class="col-sm-3">Amount to send</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="amount" name="amount" placeholder="type either">
            </div>
          </div>
          <div class="form-group">
            <label for="privateKey" class="col-sm-3">Message data</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="data" name="data" placeholder="type message you want to send">
            </div>
          </div>
          <div class="form-group">
            <label for="privateKey" class="col-sm-3">privateKey pass</label>
            <div class="col-sm-9">
              <input class="form-control" type="password" id="passForKey" name="passForKey" placeholder="type your password for privateKey">
            </div>
          </div> 
          <div class="form-group" style="display:none">
              <input type="text" id="editor" name="jsonKey">
           </div>
            
          <form class="buttons" method='post' enctype="multipart/form-data">
            <input class='btn btn-default' type='file' style="float:left" id='fileinput'/>
            <input class="btn btn-default" type='button' id='btnLoad' value='Import' onclick='handleFileSelect();'>
            <!-- <div id="editor"></div> -->
            <!-- <div id="jsonKey"></div> -->
            <div class="buttons submit-container">
              <button type="submit" class="btn btn-default" style="float:right">Send</button>
            </div>
          </form>

        </fieldset>
      </div>
    </form>
    
    <!-- https://codingmania.tistory.com/m/103?category=588253 -->
    <script>
      function handleFileSelect() {
        if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
          alert('The File APIs are not fully supported in this browser.');
          return;
        }

        input = document.getElementById('fileinput');
        if (!input) {
          alert("Um, couldn't find the jsonKey element.");
        }
        else if (!input.files) {
          alert("This browser doesn't seem to support the `files` property of file inputs.");
        }
        else if (!input.files[0]) {
          alert("Please select a file before clicking 'Load'");
        }
        else {
          file = input.files[0];
          fr = new FileReader();
          fr.onload = receivedText;
          fr.readAsText(file);
          let jsonKey = fr.readAsText(file)
          // fr.readAsDataURL(file);
        }
      }

      function receivedText() {
        document.getElementById('editor').value = fr.result;
      } 

    </script>
</body>

</html>