<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container user user-show">

    <div class="buttons">
      <a class="btn btn-default" href="/wallet">Back</a>
      <% if(isAuthenticated && wallet.owner && currentUser.id == wallet.owner.id){ %> <!-- 1 -->
       <a class="btn btn-default" href="/<%= wallet.owner %>/edit">go my wallet</a>
      <% } %> <!-- 1 -->
     </div>

   <form class="user-form form-horizontal" action="/wallet/<%= wallet.owner %>" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop"><%= user.username %> account</h3>
     <fieldset disabled>
      <div class="form-group">
        <label for="account" class="col-sm-3">Account</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="account" name="account" value="<%= wallet.address %>">
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">privateKey</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="privateKey" name="privateKey" value="<%= wallet.privateKey %>">
        </div>
       </div>
     </fieldset>
     <fieldset disabled>
      <div class="form-group">
        <label for="account" class="col-sm-3">Account from</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="fromAcc" name="fromAcc" value="<%= wallet.address %>">
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">Account to</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="toAcc" name="toAcc" value="<%= myAccount %>">
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">Amount to send</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="amount" name="amount" value= "<%= amount %>">
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">Message data</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="data" name="data" value = "<%= data %>">
        </div>
       </div>
       <p> <%= result %></p>
     </fieldset>
    </div>
  </form>
  <div class="buttons col-sm-12">
    <a class="btn btn-primary" href="/wallet/<%= wallet.owner %>/new">New Account</a>
  </div> <!-- container end -->

 </body>
</html>