<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container user user-show">

   <form class="user-form form-horizontal" action="/wallet/<%= user.username %>/sendTx" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop"><%= user.username %>'s result of transaction</h3>

     <fieldset>
        <!-- <div class="form-group" display:none>
            <label for="account" class="col-sm-3">Account from</label>
            <div class="col-sm-9">
             <input class="form-control" type="text" id="fromAcc" name="fromAcc" value="<%= user.username %>"
             readonly>
            </div>
           </div> -->
      <div class="form-group">
        <label for="account" class="col-sm-3">전송 계좌</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="fromAcc" name="fromAcc" value="<%= fromAcc %>" readonly>
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">송금 계좌</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="toAcc" name="toAcc" value="<%= myAccount %>" readonly>
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">송금액</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="amount" name="amount" value= "<%= amount %>" readonly>
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">트랜잭션 해쉬 값</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="Txhash" name="Txhash" value= "<%= result4 %>" readonly>
        </div>
       </div>
       <div class="form-group">
        <label for="privateKey" class="col-sm-3">송금 후 계좌잔액</label>
        <div class="col-sm-9">
         <input class="form-control" type="text" id="balance" name="balance" value= "<%= balance %>" readonly>
        </div>
       </div>
     </fieldset>
  </form>
  <div class="buttons col-sm-12">
    <!-- <a class="btn btn-primary" href="/wallet/<%= user.username %>/new">New Account</a> -->
    <a class="btn btn-primary" href="https://ropsten.etherscan.io/tx/<%= result4 %>">이더스캔에서 확인하기</a>
    <a class="btn btn-primary" href="/wallet/<%= user.username %>/history">송금내역 확인하기</a>
  </div> <!-- container end -->

 </body>
</html>