<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container user user-show">

    <div class="buttons">
      <a class="btn btn-default" href="/wallet">Back</a>
      <% if(isAuthenticated && currentUser.id == user.id){ %> <!-- 1 -->
       <a class="btn btn-default" href="/wallet/<%= user.username %>/edit">go my wallet</a>
      <% } %> <!-- 1 -->
     </div>

   <form class="user-form form-horizontal" action="/users" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop"><%= user.username %> account</h3>
     <fieldset disabled>
      
        <div class="col-sm-9">
         <input class="form-control" type="text" id="account" name="account" value="<%= user.account %>">
         <p><%= user.account %></p>
         <p><%= user.account %></p>
         <p><%= user.account %></p>
         <p><%= user.account %></p>
         <p><%= user.account %></p>
         
        
       </div>
     </fieldset>
    </div>
   </form>

  </div> <!-- container end -->
 </body>
</html>