<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container post post-index">
   <% include ./partials/header ﻿%>

   <div class="buttons">
    <% if(isAuthenticated){ %> <!-- 1 -->
     <a class="btn btn-default" href="/posts/new">New</a>
    <% } %> <!-- 1 -->
   </div>

   <table class="table table-striped posts">
    <thead>
     <tr>
      <th class="title2">originalname</th>
      <th class="title2">filehash</th>
      <th class="author">uploadername</th>
      <th class="date">Date</th>
     </tr>
    </thead>
    <tbody>
     <% if(fileinfoes == null || fileinfoes.length == 0){ %>
      <tr>
       <td class="noData" colspan=100> There is no data to show :( </td>
      </tr>
     <% } %>


     <% fileinfoes.forEach(function(Fileinfo) { %>
      <tr>
       <td class="originalname">
        <a href="/uploads/fileinfo/<%= Fileinfo._id %>"><div class="ellipsis"><%= Fileinfo.originalname %></div></a>
       </td>

       <td class="filehash">
        <div class="ellipsis"><%= Fileinfo.filehash %></div>
        </td>

       <td class="author">
           <div class="ellipsis"><%= Fileinfo.uploadername %></div>
       </td>

       <td class="date">
        <%= Fileinfo.createdDate %>
       </td>
      </tr>
     <% }) %>
    </tbody>
   </table>
  </div> <!-- container end -->
 </body>
</html>