<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>

    <div class="container post post-index">
        <% include ./partials/header ﻿%>

        <!-- <div class="buttons">
    <% if(isAuthenticated){ %> 
     <a class="btn btn-default" href="/posts/new">New</a>
    <% } %> 
   </div> -->

        <table class="table table-striped posts">
            <thead>
                <tr>
                    <th class="title2">파일명</th>
                    <th class="title2">파일해쉬</th>
                    <th class="author">업로더</th>
                    <th class="date">시간</th>
                </tr>
            </thead>
            <tbody>
                <% if(fileinfoes == null || fileinfoes.length == 0){ %>
                <tr>
                    <td class="noData" colspan=100> There is no data to show :( </td>
                </tr>
                <% } %>


                <% fileinfoes.forEach(function(Fileinfo) { %>
                <tr>
                    <td class="originalname">
                        <a href="/uploads/fileinfo/<%= Fileinfo._id %>">
                            <div class="ellipsis"><%= Fileinfo.originalname %></div>
                        </a>
                    </td>

                    <td class="filehash">
                        <div class="ellipsis"><%= Fileinfo.filehash %></div>
                    </td>

                    <td class="author">
                        <div class="ellipsis"><%= Fileinfo.uploadername %></div>
                    </td>

                    <td class="date">
                        <%= Fileinfo.createdDate %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <ul class="pagination">
            <% var offset = 3;
            var partialQuery;
            if(urlQuery) partialQuery = "&"+urlQuery.replace(/page=(.*?)(&|$)/ig,"");
             %>
            <% for(i=1;i<=maxPage;i++){ %>
            <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
            <% if(i != page){ %>
            <li><a href="/uploads/<%= user %>/fileinfo?page=<%= i %><%= partialQuery %>"> <%= i %> </a></li>
            <% } else { %>
            <li> <b><%= i %></b> </li>
            <% } %>
            <% } else if(i == offset+1 || i == maxPage-offset){ %>
            <li>...</li>
            <% } %>
            <%}%>
        </ul>
</div> <!-- container end -->
<div class="float">
        <div class="search float_right">
            <form class="checkValidation" action="/uploads/<%= user %>/fileinfo/" id="search">
                <select name="searchType">
                    <% var select %>
                    <option value="uploadername,originalname" <%= search.searchType=="title,body"?select="selected":"" %>>
                        업로더+파일명</option>
                    <option value="uploadername" <%= search.searchType=="title"?select="selected":"" %>>업로더</option>
                    <option value="originalname" <%= search.searchType=="body"?select="selected":"" %>>파일명</option>
                </select>
                    
                <input class="cvMinLength" cvMinLength="3" cvMinLenErrTo="#searchError"
                    cvMinLenErrMsg="It should be at least 3 characters" type="text" name="searchText"
                    value="<%= select?search.searchText:"" %>">
                <button type="submit">search</button>
                <div class="message" id="searchError"></div>
                </form>
    
                <form class="buttons" method='post' action="/uploads/<%= user %>/fileinfo/" enctype="multipart/form-data">
                    <div class="upload">
                        <input class='btn btn-default' type='file' style="float:left" name='verify'>
                        <input class="btn btn-default" type='submit' style="float:right">
                    </div>
                </form>
        </div>
        </div>
</body>

</html>