<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>

  <div class="container upload user-show">
    <div class="buttons">
      <a class="btn btn-default" href="/">Home</a>
      <% if(isAuthenticated && currentUser.id == user.id){ %> <!-- 1 -->
       <a class="btn btn-default" href="javascript:history.back()">Back</a>
      <% } %>
     </div>


    
    
    </form>
   <form class="user-form form-horizontal" action="/uploads" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop"><%= user.username %>님의 파일 처리 중...</h3>
     <fieldset>
       <div class="col-sm-9">
        <h3>업로드된 파일은 "<%= filename %>" 파일명으로 서버에 저장됩니다.</h3> <br/>
        <h3>원 파일명은 "<%= originalname %>" 입니다.</h3> <br/>
        <h3>업로드된 파일의 타입은 "<%= filetype %>" 입니다.</h3><br>
        <h3>파일의 해쉬값은 "<%= fileHash %>" 입니다.</h3><br>
        <h3>전송된 트랜잭션의 해쉬값은 "<%= result4 %>" 입니다.</h3><br>
        <h3>전송이 완료되었습니다. 10초뒤 자동으로 이동합니다.</h3>
        </div>
     </fieldset>
    </div>
   </form>
  </div> <!-- container end -->
 </body>
 <script type='text/javascript'>
  setTimeout("location.href='/uploads/<%=user.username%>/fileinfo'",10000);
 </script>
</html>