<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <div class="container upload user-show">
    <div class="buttons">
      <a class="btn btn-default" href="/">Home</a>
      <% if(isAuthenticated && currentUser.id == user.id){ %>
      <!-- 1 -->
      <a class="btn btn-default" href="javascript:history.back()">Back</a>
      <% } %>
    </div>

    <table class="table table-striped posts">
      <thead>
        <tr>
          <th class="number">#</th>
          <th class="txhash">파일 명</th>
          <!-- <th class="date">Date</th> -->
        </tr>
      </thead>
      <tbody>
        <% if(filelist == null || filelist.length == 0){ %>
        <tr>
          <td class="noData" colspan=100> There is no file to show </td>
        </tr>
        <% } %>


        <% filelist.forEach(function(element, index, File) { %>
        <tr>
          <td class="number">
            <div class="ellipsis">
              <%= length - index %>
            </div>
          </td>

          <td class="txhashes">
            <a href="../../static/<%= user.username %>/<%= element %>" download>
              <div class="ellipsis"><%= element %></div>
            </a>
          </td>

          <!-- <td class="date">
                  <%= element.createdDate %>
              </td> -->
        </tr>
        <% }) %>
      </tbody>
    </table>

    <!-- </form>
   <form class="user-form form-horizontal" action="/uploads" method="post">
    <div class="contentBox">
     <h3 class="contentBoxTop"><%= user.username %>'s File Managing</h3>
     <fieldset>
       <div class="col-sm-9">
        
        <h4>- list of uploaded files</h4>
        <ul>
          <% for (var i = 0; i < length; i++) { %>
            <li>
              <%= i+1 + ': ' + filelist[i] %><br/><br/>
            </li>
          <% } %>
        </ul>

        </div>
     </fieldset>
    </div>
   </form> -->

    <form class="buttons" method='post' enctype="multipart/form-data">
      <div class="upload">
        <input class='btn btn-default' type='file' style="float:left" name='userfile'>
        <input class="btn btn-default" type='submit' style="float:right">
      </div>
    </form>
  </div> <!-- container end -->
</body>

</html>